.card-detail {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 50px;
    padding: 15px;
    color: beige;
    text-align: center;
    border-color: black;
    -webkit-box-shadow: 10px 10px 17px -2px rgba(99, 99, 93, 1);
    -moz-box-shadow: 10px 10px 17px -2px rgba(99, 99, 93, 1);
    box-shadow: 10px 10px 17px -2px rgba(99, 99, 93, 1);
}

.img-detail {
    max-width: 350px;
}

/* <div class="loader"></div> */
/* .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
      33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
      66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
      100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
  } */